body
{
	background-color: #FFFFFF;
	color: #666666;
	background: url(../img/background.jpg);
}

#wrapper
{
	width: 80%;
	max-width: 1024px;
	min-width: 700px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
	box-shadow: 3px, 3px, 3px, #666666;
}

header
{
	background-color: #000033;
	color: #FFFFFF;
}

h1
{
	line-height: 200%;
	background: url(../img/sunset.jpg);
	background-repeat: no-repeat;
	background-position: right;
	padding-left: 20px;
	height: 72px;
	margin-bottom: 0;
}

nav
{
	font-weight: bold;
	background-color:#90C7E3;
	padding: 5px;
}

h2
{
	color: #3399CC;
}

h3
{
	color: #000033;
}

main
{
	padding-left: 20px;
	padding-right: 20px
}

dt
{
	color: #000033;
	font-weight: bold;
}

.resort
{
	color: #000033;
	font-size: 1.2em;
}

footer
{
	font-size: small;
	font-style: italic;
	text-align: center;
	padding: 10px;
}
